@using Microsoft.AspNetCore.Identity
@using SourceCode.Models
@inject SignInManager<PartyUser> SignInManager
@inject UserManager<PartyUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a>สวัสดีคุณ @UserManager.GetUserName(User)</a>
            </li>
        @if(@UserManager.GetUserAsync(User).Result.Vote){
	    <li>

			<a href="/Vote" title="Manage">ใช้สิทธิ์เลือกตั้ง</a>	
	    </li>
	    }
	else{
		<li>
			<a> คุณใช้สิทธิ์เลือกตั้งไปแล้ว </a>
		</li>
	}
            <li>
              <button type="submit" class="btn btn-link navbar-btn navbar-link">ออกจากระบบ</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Login">เข้าสู่ระบบ</a></li>
    </ul>
}

