@page
@model SourceCode.Pages.Admin.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูลพรรค";
}
<body style=" background-color:#8B8989"> </body>
<br><br>
<div class="jumbotron" style="font-family:JasmineUPC; font-size:160%; background-color:#FFF5EE;">
<h1>ลบข้อมูลพรรค</h1>
<div>
    <h2> @Html.DisplayFor(model => model.Party.PartyName)</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           ลำดับพรรค
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Party.PartyID)
        </dd>
        <dt>
            รูปประธานพรรค
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Party.PartyAlbum)
        </dd>
        <dt>
               ชื่อ-นามสกุลประธานพรรค
        </dt>
        <dd>
		@Html.DisplayFor(model => model.Party.LeaderName) 
        </dd>
        <dt>
         ชื่อ-นามสกุลรองประธานพรรค
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Party.SecondName)
        </dd>
        <dt>
           ชื่อ-นามสกุลสมาชิกพรรค
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Party.MemberName)
        </dd>
        <dt>
           ผลโหวต
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Party.Count)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Party.ID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <a asp-page="./Index">ย้อนกลับ</a>
    </form>
</div>
</div>