﻿@page
@model IndexModel
@{
    ViewData["Title"] = "หน้าหลัก";
}
<body style=" background-image: url(Images/41.png); background-repeat:repeat;"> </body>
<br>
<br>
<div class="container">
<div class="jumbotron" style="background-color:#473C8B;">
	<h1 style="color:#00FA9A; font-family:Impact; font-size:750%;">Ballot BOX</h1>      
		<p style="color:#00FA9A;" >By PSU student</p>
	<br><br><br>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/22.jpg" alt="ASP.NET" class="img-responsive" style="border:solid; border-width:2px; height:500px;width=1600px;"/>
            <div class="carousel-caption" role="option">
		
			<h3>
			นโยบายพรรคเพิ่มเติม
			<a class="btn btn-default" href="https://www.gotoknow.org/posts/301742">
			ไปที่เว็ปไซต์
		    </a></h3>
		 </div>
        </div>
        <div class="item">
            <img src="~/images/23.jpg" alt="Visual Studio" class="img-responsive" style="border:solid; border-width:2px; height:500px;width=1600px;"/>
            <div class="carousel-caption" role="option">
                <p><h3>
                    นโยบายพรรคเพิ่มเติม
                    <a class="btn btn-default" href="https://cartoon.mthai.com/character/43.html">
                       ไปที่เว็ปไซต์
                    </a>
                </p></h3>
            </div>
        </div>
        <div class="item">
            <img src="~/images/25.jpg" alt="Microsoft Azure" class="img-responsive" style="border:solid; border-width:6px; height:500px;width=1600px;"/>
            <div class="carousel-caption" role="option">
                <p><h3>
                   นโยบายพรรคเพิ่มเติม
                    <a class="btn btn-default" href="https://www.online-station.net/movie/view/101687">
                        ไปที่เว็ปไซต์
                    </a></h3>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
 
<div class="row">
<div class="container">
    
      <h1 style="font-family:Impact; font-size:750%; color:#00FA9A;">LIST PARTY</h1>
      
       @foreach (var item in Model.Partys) {	
	<div class="jumbotron" style="border:solid; background-color:#00FA9A;">
	 <h1 style="font-family:AngsanaUPC; color:#473C8B;">พรรคลำดับที่ @Html.DisplayFor(modelItem => item.PartyID)</h1><br><br>
            <center><img src="~/images/@item.PartyAlbum"  width=300 height=300  style="border:solid;"></center>
	    <i><center>@Html.DisplayFor(modelItem => item.LeaderName)</center></i>
	    <br><br>   
		<u><h3 style="font-family:Sarabun; font-size:190%; color:#473C8B;">รายละเอียด</h3></u><br>
		<h4 style="font-family:Sarabun; font-size:140%; color:#473C8B;">&nbsp;&nbsp; &nbsp;&nbsp; ชื่อพรรค :&nbsp;&nbsp; @Html.DisplayFor(modelItem => item.PartyName)</h4><br>
		<h4 style="font-family:Sarabun; font-size:140%; color:#473C8B;">&nbsp;&nbsp; &nbsp;&nbsp; ประธานพรรค :&nbsp;&nbsp; @Html.DisplayFor(modelItem => item.LeaderName)</h4><br>
		<h4 style="font-family:Sarabun; font-size:140%; color:#473C8B;">&nbsp;&nbsp; &nbsp;&nbsp; รองประธานพรรค:&nbsp;&nbsp; @Html.DisplayFor(modelItem => item.SecondName)</h4><br>
		<h4 style="font-family:Sarabun; font-size:140%; color:#473C8B;">&nbsp;&nbsp; &nbsp;&nbsp; สมาชิก: &nbsp;&nbsp;  @Html.DisplayFor(modelItem => item.MemberName)</h4>
	</div>	
	}
	
   
</div>
   
   
</div>
</div>
